namespace SYK.Views.Cuenta
@{
    ViewBag.Title = "Iniciar Sesión";
}

<h2>Iniciar Sesión</h2>

<form asp-action="Login" method="post">
    <div>
        <label>Nombre:</label>
        <input type="text" name="nombre" />
    </div>
    <div>
        <label>Contraseña:</label>
        <input type="password" name="password" />
    </div>
    <button type="submit">Entrar</button>
</form>

@if (ViewBag.Mensaje != null)
{

}
